---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/ba3fd6452cf24e4495be8aa95e27899d/query
    body:
      encoding: UTF-8
      string: '{"sorts":[{"property":"published","direction":"descending"}],"filter":{"and":[{"property":"public","checkbox":{"equals":true}},{"property":"tags","multi_select":{"contains":"test"}}]},"page_size":10}'
    headers:
      Authorization:
      - Bearer <NOTION_API_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a6-LTaunWcHpbhMxDH62Uds47A18LQ"
      X-Notion-Request-Id:
      - e63bdccb-9d39-4d09-8ba8-b5a61433885b
    body:
      encoding: ASCII-8BIT
      string: '{"object":"list","results":[],"next_cursor":null,"has_more":false,"type":"page_or_database","page_or_database":{},"request_id":"e63bdccb-9d39-4d09-8ba8-b5a61433885b"}'
  recorded_at: Sat, 24 Aug 2024 00:10:50 GMT
recorded_with: VCR 6.2.0
